*__pycache__
*.ipynb_checkpoints/
/data
/env
/experiments/pretrained_model
/experiments/**/*.tfevents.*
/experiments/**/*.data-*
/experiments/**/*.index
/experiments/**/checkpoint
/experiments/**/exported
.idea/